body {
  margin: 0rem;
  padding: 0rem;
}

#list {
  overflow: scroll; 
  max-height: 9rem; 
  min-height: 9rem; 
  max-width: 9rem; 
  border: 1px solid #EEEEEE;
  margin-bottom: 0.3rem;
}

p {
  margin: 0 0 0.8rem 2rem; 
  color: #A2A2A2; 
  font-size: 0.8rem;
}

input {
  min-height: 2rem;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 0.2rem;
}

.remove_btn {
  border-radius: 4px; 
  background-color: red;
}
